/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes pointer {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(4px);
  }
}

.sparks {
    opacity: 0;
  }

/*ховер*/

.like-icon:hover .core {
  fill: var(--heart-contour, #000000);
  transition: fill 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour, #000000);
  transition: fill 0.3s 0.05s;
}

/*нажатие и удержание*/

.like-icon:active .core {
  fill: var(--heart-body, #ff0000);
  transition: fill 0.3s;
}

.like-icon:active .main-body {
  fill: var(--heart-body, #ff0000);
  transition: fill 0.3s 0.05s;
}

/* клик по иконке */

.like-icon.is-liked .core {
  fill: var(--heart-body, #ff0000);
  transition: fill 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-body, #ff0000);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-body, #ff0000);
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s 1 alternate;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1 alternate;
}

@keyframes heart-scale {
  from {
    scale: 1;
  }
  to {
    scale: 1.5;
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*возвращение состояний*/

.like-icon .contour {
  fill: var(--heart-contour, #000000);
  transition: fill 0.1s linear;
}

.like-icon .core {
  fill: var(--bg-color, #ffffff);
  transition: fill 0.3s 0.03s;
}

.like-icon .main-body {
  fill: var(--bg-color, #ffffff);
  transition: fill 0.3s;
}
